@charset "UTF-8";

/* aboutページのCSS */
.outline {
  margin-top:48px;
  margin-bottom:300px;
  display: flex;
  justify-content: center;
  gap:40px
}
.outline img {
  width: 20vw;
  height:auto
}

.section-about h2 {
  padding-top:152px;
  text-align: center;
  font-size: 48px;
}
.name {
  padding-top: 16px;
  font-size: 40px;
}
.container {
  display: flex;
  flex-direction: column;
}

.heading01 {
	position: relative;
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
}

.heading01 span {
	position: relative;
	z-index: 2;
}

.heading01::after {
	content: attr(data-en);
	position: absolute;
	transform: translateX(-50%);
	color: var(--color-white);
	font-size: 240px;
  left: 50%;
  font-weight: var(--font-weight-thin);
}

.tags {
  color:var(--color-secondary);
  font-size: 1rem;
  line-height: 1.5rem;
  color: var(--color-gray) ;
}
.name-area {
  display: flex;
  align-items: baseline;
  gap:8px
}